{
  "presets": [
    [
      "@babel/env",
      {
        "loose": true,
        "shippedProposals": true,
        "modules": false,
        "targets": {
          "ie": 9
        }
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
